body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("../images/fondoEstrellas.png");
}

#pantalla-inicio, #batalla, #final {
  background-size: cover;
  width:80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pantalla-inicio {
  background-image: url(../images/fondo\ incio.gif);
  padding-bottom: 100px;
}

.logo {
  text-align: center;
  height: 200px;
  width: 50%;
}


.instrucciones {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.instrucciones p {
  font-size: 1 rem;
  line-height: 1.5;
}

.players {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 220px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  background-color: #aba6a65b;
  
}


.character {
  width: 130px;
  height: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  position: relative;
  width: 120px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.761);
}

button img {
  width: 100px;
  height: 50px;
}

button:hover {
  background-color: rgb(255, 215, 246);

}


#batalla {
  display: none;
  background-image: url(../images/fondo-batalla.png);
}

#spikeLifeBarCont {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 200px;
  height: 20px;
  background-color: #b9b9b9;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
}


#spikeLifeBar {
  height: 100%;
  width: 100%;
  background-color: rgb(61, 184, 233);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#viciousLifeBarContainer {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 20px;
  background-color: #b9b9b9;
  border: 2px solid #5e5e5e;
  border-radius: 10px;
}

#viciousLifeBar {
  height: 100%;
  width: 100%;
  background-color: rgb(230, 83, 237); 
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


#viciousLifeBar span {
  font-family: fantasy;
}

#spikeLifeBar span {
  font-family: fantasy;
}


#final {
  display: none;
  background-image: url(../images/fondo-final-mal.png);
  
}

#final button {
  margin-top: 100px;
  width: 250px;
  height: 100px;
}

#restart img {
  width: 190px;
  height: 90px;
}

#see-you {
  width: 480px;
  height: 150px;
  /* margin-top: -600px; */
}